# 2 â€” City-wise Analysis

In [2]:
import pandas as pd
store_data = pd.read_csv("Store.csv")
store_data.head()

,store_id,city,Jan,Feb,Mar,Apr,May,Jun,July,Aug,Sep,Oct,Nov,Dec
0,S_1,Texas,8,20,13,21,17,20,24,17,16,9,7,6
1,S_2,California,12,19,15,15,11,19,7,15,10,11,21,19
2,S_3,California,16,16,14,19,23,6,13,13,15,14,24,8
3,S_4,Texas,8,18,13,10,14,14,6,8,8,18,7,11
4,S_5,Texas,19,5,24,9,5,24,10,5,24,15,6,13

In [1]:
print(store_data.head())

NameError: name 'store_data' is not defined

In [3]:
print(store_data.tail())

   store_id        city  Jan  Feb  Mar  Apr  May  Jun  July  Aug  Sep  Oct  \
95     S_96       Texas    7   10   20   20   10   15    15   21   15    7
96     S_97  California   13    6    7   15   22   10    21   23   10    6
97     S_98       Texas   16    9    6   14   20   13    11   10    8   22
98     S_99     Arizona   18   16    9    5   12   22    11   13   21   17
99    S_100  California    5   23   17   24   15   21    19   10   12   20

    Nov  Dec
95   23   22
96   12    9
97   17   22
98   19   10
99    5    9

In [4]:
print(store_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   store_id  100 non-null    object
 1   city      100 non-null    object
 2   Jan       100 non-null    int64
 3   Feb       100 non-null    int64
 4   Mar       100 non-null    int64
 5   Apr       100 non-null    int64
 6   May       100 non-null    int64
 7   Jun       100 non-null    int64
 8   July      100 non-null    int64
 9   Aug       100 non-null    int64
 10  Sep       100 non-null    int64
 11  Oct       100 non-null    int64
 12  Nov       100 non-null    int64
 13  Dec       100 non-null    int64
dtypes: int64(12), object(2)
memory usage: 11.1+ KB
None

In [5]:
print(store_data.describe())

              Jan         Feb         Mar         Apr         May         Jun  \
count  100.000000  100.000000  100.000000  100.000000  100.000000  100.000000
mean    14.460000   15.090000   14.560000   14.570000   13.560000   13.800000
std      5.712683    6.055459    5.782803    4.965039    5.883241    5.962848
min      5.000000    5.000000    5.000000    5.000000    5.000000    5.000000
25%     10.000000    9.000000    9.750000   11.000000    8.000000    9.000000
50%     15.000000   16.000000   15.000000   14.500000   13.000000   13.500000
75%     19.000000   21.000000   19.250000   19.000000   19.000000   19.000000
max     24.000000   24.000000   24.000000   24.000000   24.000000   24.000000

             July         Aug         Sep        Oct         Nov         Dec
count  100.000000  100.000000  100.000000  100.00000  100.000000  100.000000
mean    14.380000   15.810000   14.910000   14.10000   15.310000   13.570000
std      5.566458    6.152432    5.284043    5.87496    6.461533    5.852143
min      5.000000    5.000000    5.000000    5.00000    5.000000    5.000000
25%     10.000000   11.000000   11.000000    9.00000   10.000000    8.000000
50%     15.000000   17.000000   14.500000   14.00000   16.000000   13.000000
75%     19.000000   21.000000   19.000000   19.00000   21.250000   19.000000
max     24.000000   24.000000   24.000000   24.00000   24.000000   24.000000

In [6]:
months = ['Jan', 'Feb', 'Mar', 'Apr']
total = store_data[months].sum()
average= store_data[months].mean()
print(total)
print(average)

Jan    1446
Feb    1509
Mar    1456
Apr    1457
dtype: int64
Jan    14.46
Feb    15.09
Mar    14.56
Apr    14.57
dtype: float64

In [7]:
totalsales = store_data[['Jan','Feb','Mar','Apr','Jun','July','Aug','Sep','Oct','Nov','Dec']].sum()
print(totalsales)

Jan     1446
Feb     1509
Mar     1456
Apr     1457
Jun     1380
July    1438
Aug     1581
Sep     1491
Oct     1410
Nov     1531
Dec     1357
dtype: int64

# 2. City-wise Analysis

In [8]:
months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'July', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
average_monthly = store_data.groupby('city')[months].mean()
print(average_monthly)

                  Jan        Feb        Mar        Apr        May        Jun  \
city
Arizona     15.500000  15.272727  14.545455  14.954545  14.090909  15.090909
California  14.744186  15.534884  14.627907  13.976744  13.255814  13.697674
Texas       13.457143  14.428571  14.485714  15.057143  13.600000  13.114286

                 July        Aug        Sep        Oct        Nov        Dec
city
Arizona     14.636364  15.500000  15.318182  14.954545  16.409091  13.318182
California  14.813953  16.232558  14.883721  14.279070  15.279070  13.604651
Texas       13.685714  15.485714  14.685714  13.342857  14.657143  13.685714

In [9]:
yearly_sales = store_data.loc[:, 'Jan':'Dec'].sum(axis=1)
average_yearly_sales_per_city = yearly_sales.groupby(store_data['city']).mean()
city_with_highest_average_sales = average_yearly_sales_per_city.idxmax()
highest_average_sales_value = average_yearly_sales_per_city.max()
print(city_with_highest_average_sales)
print(highest_average_sales_value)

Arizona
179.5909090909091

In [10]:
store_data['Total_Sales'] = store_data['Jan'] + store_data['Feb'] + store_data['Mar'] + store_data['Apr']
print(store_data[['store_id', 'city', 'Jan', 'Feb', 'Mar', 'Apr', 'Total_Sales']].head())

  store_id        city  Jan  Feb  Mar  Apr  Total_Sales
0      S_1       Texas    8   20   13   21           62
1      S_2  California   12   19   15   15           61
2      S_3  California   16   16   14   19           65
3      S_4       Texas    8   18   13   10           49
4      S_5       Texas   19    5   24    9           57

In [11]:
store_data['Total_Sales'] = store_data['Jan'] + store_data['Feb'] + store_data['Mar'] + store_data['Apr']
top_3_cities = (store_data.groupby('city')['Total_Sales'].sum().sort_values(ascending=False).head(3))
print(top_3_cities)

city
California    2532
Texas         2010
Arizona       1326
Name: Total_Sales, dtype: int64

# 3.Store-level Insights

In [12]:
store_data['Total_Sales'] = store_data[['Jan', 'Feb', 'Mar', 'Apr', 'Jun', 'July', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']].sum(axis=1)
top_5 = store_data.sort_values('Total_Sales', ascending=False).head(5)
print(top_5[['store_id', 'city', 'Total_Sales']])

   store_id        city  Total_Sales
72     S_73  California          206
77     S_78     Arizona          198
37     S_38  California          196
85     S_86  California          193
61     S_62  California          192

In [13]:
store_data['Total_Sales'] = store_data[['Jan', 'Feb', 'Mar', 'Apr', 'Jun', 'July', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']].sum(axis=1)
bottom_5 = store_data.sort_values('Total_Sales', ascending=True).head(5)
print(bottom_5[['store_id', 'city', 'Total_Sales']])

   store_id        city  Total_Sales
90     S_91       Texas          114
47     S_48     Arizona          117
3       S_4       Texas          121
66     S_67       Texas          128
88     S_89  California          128

In [14]:
max_sales = store_data.loc[store_data['Mar'].idxmax()]
result = max_sales[['store_id', 'city', 'Mar']]
print(result)

store_id      S_5
city        Texas
Mar            24
Name: 4, dtype: object

In [15]:
min_sales = store_data.loc[store_data['Apr'].idxmin()]
result = min_sales[['store_id', 'city', 'Apr']]
print(result)

store_id       S_32
city        Arizona
Apr               5
Name: 31, dtype: object

In [16]:
months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'July', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
store_data['Avg_Monthly_Sales'] = store_data[months].mean(axis=1)
filtered_stores = store_data[store_data['Avg_Monthly_Sales'] > 15]
city_counts = filtered_stores.groupby('city').size()
print(city_counts)

city
Arizona       13
California    13
Texas          9
dtype: int64

In [17]:
months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'July', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
california_sales = store_data[(store_data['city'] == 'California') & (store_data[months].gt(20).any(axis=1))]
print(california_sales[['store_id', 'city'] + months])

   store_id        city  Jan  Feb  Mar  Apr  May  Jun  July  Aug  Sep  Oct  \
1       S_2  California   12   19   15   15   11   19     7   15   10   11
2       S_3  California   16   16   14   19   23    6    13   13   15   14
5       S_6  California   14   21   18   20   21    5    18   24    7   12
7       S_8  California   15    8    5   15   12   21    17   19   13    6
9      S_10  California   14   23   20   11   12   13    19    6    5   22
11     S_12  California    6   18   21    8    5    8    11    9   21   17
15     S_16  California   18    9    8    9   21    7    19   18   21    7
16     S_17  California   13    8    7   22   21   24    18    5   24   18
18     S_19  California    7    6   17    8   21   11    20    9   11   22
19     S_20  California   11   21   20    6    5   24    14   23   19   10
23     S_24  California    5   17   19   19   19   14    18   23   23    5
25     S_26  California   24   11   16   11   13   14    10   15    7   15
26     S_27  California   24   19   13   24    8   12     6   21   10   10
27     S_28  California   10   15   24   21    9   22    10   19   13   18
28     S_29  California   15    8   10   16   12   10    21   21    7   13
30     S_31  California   14   19    6   15   24   13    14   23   13   24
34     S_35  California   10    7   24   15   12   24    12   17   10   14
36     S_37  California   24   16    9    6    6   22     6    8   24    6
37     S_38  California   21   10   13   11   11   14    24   24   24   21
44     S_45  California   19   17    9   17    8    8    16    5   21   20
48     S_49  California   22   22   10   11   17   13    18   11   12   20
58     S_59  California   15   13   20    8    7   12    15    8   24    9
59     S_60  California    6   21   22    8    6   17    21   12   14   15
61     S_62  California   16   21    6   22   22    9    21   21   22   17
63     S_64  California   12   18    9   19    5    7    22   23   19    6
67     S_68  California   23   15   16   14    8   12    10   21   10    7
72     S_73  California   20   24   24   18    7   22    12   21   20   18
73     S_74  California   20   17   14    5   22    9    18   24   11   10
76     S_77  California    9   18   10   15   14   14    16    5   24   11
80     S_81  California   22    9   20   12    6   20     8   16   15   14
82     S_83  California   16    5    6   12   20   21    17    6   12    9
83     S_84  California   13   12   12    5    7   16    12   21   20   19
85     S_86  California   15   23   24   18   21   17    23   13   12   11
89     S_90  California    8   23   21   14   15    6     5   14   23    8
91     S_92  California   14   16   17   13   13   10    17   23    7   23
92     S_93  California   20   13   15   12   15   19    21   22   10   21
93     S_94  California   19   18   14   21    5    7     8   21   11   21
94     S_95  California   10   22   13   20    5    5     9   15   23   23
96     S_97  California   13    6    7   15   22   10    21   23   10    6
99    S_100  California    5   23   17   24   15   21    19   10   12   20

    Nov  Dec
1    21   19
2    24    8
5    11    5
7    24   15
9    17   16
11   18   22
15    7   23
16   12   17
18   21    8
19   21   22
23   16    5
25    5    8
26   12   20
27   24    6
28    8    5
30   10    9
34    5   18
36    5   11
37   16   18
44   12   24
48   12    9
58   21    6
59   10   15
61   16   21
63   15   17
67   24   17
72   21    6
73   20   19
76   18   17
80   24   10
82   22   15
83   22   13
85   24   13
89    5   21
91   10   22
92   23   13
93   15    7
94   24    7
96   12    9
99    5    9