In [3]:
n=input()
count=0
for i in n:
    if i in "AEIOUaeiou":
        count+=1
print(count)

 2

0

In [14]:
n=input()
count=0
cl=0
for i in n:
    if i not in "AEIOUaeiou":
        count+=1
    else:
        cl+=1
print(cl)
print(count)

 india

3
2

In [26]:
n = [30, 42, 56, 70, 45, 35]
a= []
for i in n:
    if i % 5 == 0:
        a.append(i / 5)
    else:
        a.append(i-5)
print(a)

[6.0, 37, 51, 14.0, 9.0, 7.0]

In [39]:
n = [23, 24, 45, 67, 99, 54, 20]
e = []  
o = []  
for i in range(len(n)):
    if i % 2 == 0:
        e.append(n[i])
    else:
        o.append(n[i])
print(e)
print(o)

[23, 45, 99, 20]
[24, 67, 54]

In [41]:
n=[20,35,45,30,60,75,85,45,25,40]
x=0
p=0
for i in n:
    if i%2==0:
        x+=i
    else:
        p+=i
        print(x)
        print(p)

20
35
20
80
110
155
110
240
110
285
110
310

In [42]:
n=[20,35,45,30,60,75,85,45,25,40]
o=0
e=0
for i in range(len(n)):
    if n[i] % 2 == 0:
        e+=i
    else:
        o+=i
print(e)
print(o)

16
29

In [2]:
n = ['Mumbai', 'Hyd', 'delhi', 'Dubai', 'Jaipur', 'Kolkata', 'Chennai', 'Dadar', 'Danish', 'japan', 'madhya', 'hero', 'daridam']
d = []
for chr in n:
    if chr.startswith('D') or chr.startswith('d'):
        d.append(chr)
print(d)

['delhi', 'Dubai', 'Dadar', 'Danish', 'daridam']

In [1]:
n = ['Mumbai', 'Hyd', 'delhi', 'Dubai', 'Jaipur', 'Kolkata', 'Chennai', 'Dadar', 'Danish', 'japan', 'madhya', 'hero', 'daridam']
i = [50, 40, 30, 20, 100, 350, 280, 200]
d = {}
for a in range(len(i)):
    d[n[a]] = i[a]

print(d)

{'Mumbai': 50, 'Hyd': 40, 'delhi': 30, 'Dubai': 20, 'Jaipur': 100, 'Kolkata': 350, 'Chennai': 280, 'Dadar': 200}

In [4]:
d = {'Mumbai': 50, 'Hyd': 40, 'delhi': 30, 'Dubai': 20, 'Jaipur': 100, 'Kolkata': 350, 'Chennai': 280, 'Dadar': 200}
for c, v in d.items():
    if v < 100:
        print(c)

Mumbai
Hyd
delhi
Dubai

In [5]:
def area(r):
    pi = 22 / 7
    return pi * (r ** 2)
x = int(input())
a = area(x)
print(a)

 2

12.571428571428571

In [6]:
def count(n):
    count = 0
    for chr in n:
        if chr in "aeiouAEIOU":
            count += 1
    return count
n = input()
print(count(n))

 hydrabad

2

In [7]:
def split(lst):
    even = []
    odd = []
    for i in range(len(lst)):
        if i % 2 == 0:
            even.append(lst[i])
        else:
            odd.append(lst[i])
    return even, odd

n = [23, 24, 45, 67, 99, 54, 20]
e, o = split(n)
print(e)
print(o)

[23, 45, 99, 20]
[24, 67, 54]

In [8]:
def list(n):
    a = []
    for i in n:
        if i % 5 == 0:
            a.append(i / 5)
        else:
            a.append(i)
    return a
n = [30, 42, 56, 70, 45, 35]
r = list(n)
print(r)

[6.0, 42, 56, 14.0, 9.0, 7.0]

In [13]:
def count(text):
    v = "aieouAIEOU"
    consonant = 0
    vowel = 0
    for char in text:
        if char in v:
            consonant += 1
        else:
            vowel += 1
    return vowel, consonant
x = input()
c, e = count(x)
print("Consonants:", c)
print("Vowels:", e)

 irshad"

Consonants: 5
Vowels: 2

(4, 2)